.footer {
  width: 100%;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: center;

  &__btn-next{
    padding: 10px;
    display: none;
    background-color: $marineBlue;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }

  &__btn-back {
    display: none;
    font-weight: 500;
    color: $coolGray;
  }

  &__btn-submit {
    padding: 10px;
    display: none;
    background-color: $strongPurple;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
}

.btn-displayed {
  display: inline; 
}

.space-between {
  justify-content: space-between;
}