.form {
  height: 100vh;
  min-height: 560px;
}

.steps-container {
  height: calc(100% + 99px);
}

.data {
  margin: 0 1rem;
  padding: 20px 25px;
  background-color: $white;
  border-radius: 7px;
  position: absolute;
  top: 99px;

  &__field-container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding-bottom: 10px;
    color: $marineBlue;
    font-size: 25px;
    font-weight: 700;
  }

  &__description {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: $coolGray;
  }

  // Step 2 - Select your plan
  &__plan-container {
    margin-bottom: 1rem;
    padding: 1.2rem;
    border: 1px solid $coolGray;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto auto;

    & img {
      grid-row: 1/3;
    }

    & input {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__type-plan-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  // Step 3 - Pick add-ons
  &__add-ons-container {
    margin-bottom: 1rem;
    padding: 1.2rem;
    border: 1px solid $coolGray;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto auto;

    & input {
      width: 20px;
      height: auto;
      grid-row: 1/3;


      &[type="checkbox"]:checked {
        accent-color: $purple;
      }
    }

  }

  &__add-ons-description-container {
    display: flex;
    flex-direction: column;
  }

  &__add-ons-title {
    font-weight: 700;
    color: $marineBlue;
  }

  &__add-ons-description {
    font-size: 12px;
    font-weight: 500;
    color: $coolGray;
  }

  &__add-ons-cost {
    font-size: 13px;
    font-weight: 500;
    color: $purple;
  }
}

// Step 1 - Personal info
.field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  
  &__title {
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: 500;
    color: $marineBlue;
  }
}


.mode-plan {
  font-size: 17px;
  font-weight: 500;
  color: $marineBlue;
}

.cost-plan {
  font-size: 14px;
  font-weight: 500;
  color: $coolGray;
}

.selected-plan {
  background-color: $magnolia;
  border-color: $purplishBlue;
}

.type-plan {
  font-weight: 500;
  color: $coolGray;
}

.selected-type {
  color: $marineBlue;
}

.selected-add-ons {
  border: 1px solid $purple;
  background-color: $magnolia;
}

// Step 4 - Finishing up
.summary {
  font-weight: 500;
}

.check-plan-container,
.check-add-ons-container {
  padding: 1rem 1rem 0 1rem ;
  background-color: $magnolia;
  border-radius: 0 0 5px 5px;
}

.check-plan,
.check-cost,
.check-add-ons-cost {
  color: $marineBlue;
}

.change-plan,
.check-add-ons,
.check-total {
  color: $coolGray;
}

.check-plan-container {
  border-radius: 5px 5px 0 0;
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
}

.check-plan,
.line {
  grid-column: 1/3;
}

.check-add-ons-container,
.check-total-container {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.line {
  padding-top: 1rem;
  border-bottom: 1px solid $coolGray;
}

.check-total-container {
  padding: 1rem;

  & .check-total-cost {
    font-weight: 700;
    color: $purple;
  }
}
