.form {
  height: 100vh;
  min-height: 560px;
}

.steps-container {
  height: calc(100% - 70px);
  min-height: 510px;
}

.data {
  margin: 0 1rem;
  padding: 20px 25px;
  background-color: $white;
  border-radius: 7px;
  position: absolute;
  top: 99px;

  &__field-container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding-bottom: 10px;
    color: $marineBlue;
    font-size: 25px;
    font-weight: 700;
  }

  &__description {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: $coolGray;
  }

  &__type-plan-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  // Step 3 - Pick add-ons

  &__description-container {
    display: flex;
    flex-direction: column;
  }


}

// Step 1 - Personal info
.field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  
  &__title {
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: 500;
    color: $marineBlue;
  }
}

.input-error {
   
}


// Step 2 - Selección del Plan
.mode-plan {
  font-size: 17px;
  font-weight: 500;
  color: $marineBlue;
  margin-bottom: 1rem;
  padding: 1.2rem;
  border: 1px solid $coolGray;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto auto auto;

  & img {
    grid-row: 1/3;
  }

  &:hover {
    cursor: pointer;
    background-color: $magnolia;
  }
}

.cost-plan {
  
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 14px;
  font-weight: 500;
  color: $coolGray;
}

.selected-plan {
  background-color: $magnolia;
  border-color: $purplishBlue;
}

.months-free {
  grid-column: 2/2;
  grid-row: 3/3;
  font-size: 14px;
}

.type-plan {
  font-weight: 500;
  color: $coolGray;
}

.selected-type {
  color: $marineBlue;
}


// Step 3 - Selección Add-ons

.add-ons {
  margin-bottom: 1rem;
  padding: 1.2rem;
  border: 1px solid $coolGray;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto auto;

  & input {
    width: 20px;
    height: auto;
    grid-row: 1/3;


    &[type="checkbox"]:checked {
      accent-color: $purple;
    }
  }

  &__title {
    font-weight: 700;
    color: $marineBlue;
  }

  &__description {
    font-size: 12px;
    font-weight: 500;
    color: $coolGray;
  }

  &__cost {
    font-size: 13px;
    font-weight: 500;
    color: $purple;
  }
}

.selected-add-on {
  border: 1px solid $purple;
  background-color: $magnolia;
}

// Step 4 - Finishing up
.summary {
  padding: 1rem;
  border-radius: 5px;
  font-weight: 500;
  background-color: $magnolia;
}

.check-plan-container,
.check-add-ons-container {
  background-color: $magnolia;
}

.check-plan,
.check-cost,
.check-add-ons-cost {
  color: $marineBlue;
}

.change-plan,
.check-add-ons,
.check-total {
  color: $coolGray;
}

.check-plan-container {
  display: grid;
  display: flex;
  justify-content: space-between;
}

.type-plan {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.check-cost {
  display: flex;
  align-items: center;
}

.change-plan {
  text-decoration: underline;
}

.check-plan,
.line {
  grid-column: 1/3;
}

.check-add-ons-container,
.check-total-container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.line {
  padding: 1rem;
  border-bottom: 1px solid $coolGray;
}

.check-total-container {
  padding: 1rem;

  & .check-total-cost {
    font-weight: 700;
    color: $purple;
  }
}

.end-step {
  padding: 6rem 11px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: $coolGray;
}

.end-img {
  padding-bottom: 1.2rem;
}

.end-title {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: $marineBlue;
}

.end-text {
  line-height: 25px;
}
