.sidebar-container {
  height: 160px;
  background-image: url(../assets/images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.navbar {
  padding-top: 30px;

  &__ul {
    display: flex;
    flex-direction: row;
  }

  .step {
    margin: 5px;
    padding: 5px 10px;

    color: white;
    font-weight: 500;
    background-color: transparent;
    
    border: 1px solid white;
    border-radius: 15px;
  }

  .selected-step {
    color: black;
    background-color: $lightBlue;    
    border: 1px solid $lightBlue;
  }
}
