* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $magnolia;
}

ol,
ul {
  list-style-type: none;
}

input {
  height: 2.3rem;
  padding: 0 10px;
  border: 1px solid $lightGray ;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  
  &::placeholder {
    color: $coolGray;
  }

  &[type=radio] {
    display: none;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.tab {
  display: none;
}

.tab-on {
  display: inline;
}